//widget
.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}


//widget selector
.widget-header {
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

//element selector
.widget-header__title {
    margin: 0;
}

//widget element selector (message)

.widget-header__message {
    color: $off-white;
    margin: 0 0;
    padding: $l-size;
    text-align: center;
    border-bottom: 1px solid lighten($color: $light-blue, $amount: 10%);
}